@-webkit-keyframes cycle {
  0% {
    transform: translate(0,-50%);
  }
  50% {
    transform: translate(10px, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }

}

@keyframes cycle {
  0% {
    transform: translate(0,-50%);
  }
  50% {
    transform: translate(10px, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }

}

.button, a.button {

  border: 0;
  font-family: $arimo-family-regular;
  font-weight: 100;
  width: 100%;
  text-decoration: none;
  position: relative;
  @include inline-flex-center-wrap();
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: $white-color-one;
  box-shadow: 0 2px 4px $black-color-rgba-five;
  background: $gold-color-one;
  transition: box-shadow .4s ease, transform .4s ease;
  border-radius: 2px;
  visibility: hidden;

  @media only screen and (max-width: 991.98px) {
    visibility: visible;
  }

  &__ml-5 {

    margin-left: calc(100%/4);

  }

  &__mb-3 {

    margin-bottom: 3rem;

  }

  &__mb-2 {

    margin-bottom: 2rem;

  }

  p {

    position: relative;
    z-index: 1000;

  }

  .arrow {

    position: absolute;
    margin-right: 19px;
    right: 0;
    @include flex-center-wrap;
    top: 50%;
    transform: translateY(-50%);

  }

  &:hover {

    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 6px 8px $black-color-rgba-five;
    text-decoration: none;
    color: $white-color-one;

    .arrow {

      animation: cycle 1.5s ease-in-out infinite;

    }

  }

  &__xl {

    &_gold {

      font-size: 18px;
      max-width: 289px;
      line-height: 3.3em;
      padding: 0 2rem 0;
      @include flex-center-wrap();
      visibility: hidden;

      @media only screen and (max-width: 991.98px) {
        visibility: visible;
      }

      @media only screen and (max-width: 400px) {
        max-width: 100%;
      }

      @media only screen and (max-width: 310px) {
        padding: 0;
      }

      &.visible {

        visibility: visible;

      }

    }

  }

  &__lg {

    &_gold {

      font-size: 14px;
      max-width: 289px;
      padding: 0 2rem;
      line-height: 3.2em;
      @include flex-center-wrap();

      .arrow {

        width: 7px;
        height: 11px;

      }

      @media only screen and (max-width: 360px) {
        font-size: 14px;
        margin-left: 0;
        margin-right: 0;
      }

      @media only screen and (max-width: 310px) {
        padding: .8rem 0 .8rem;
      }

    }

  }
  &__md {

    &_gold {

      font-size: 14px;
      max-width: 230px;
      padding: 0 2rem;
      line-height: 3.2em;
      @include flex-center-wrap();

      .arrow {

        width: 7px;
        height: 11px;

        @media only screen and (max-width: 479.98px) {
          width: 9px;
          height: 15px;
        }

      }

      @media only screen and (max-width: 479.98px) {
        max-width: 70%;
        margin: auto;
        font-size: 18px;
      }

      @media only screen and (max-width: 400px) {
        max-width: 100%;
      }

      @media only screen and (max-width: 310px) {
        padding: .8rem 0 .8rem;
      }

    }

  }

  &__sm {

    &_gold {

      font-size: 14px;
      max-width: 158px;
      line-height: 3.3em;
      padding: 0 2rem;
      @include flex-center-wrap();
      visibility: visible;

      .arrow {

        width: 7px;
        height: 11px;

      }

      @media only screen and (max-width: 575.98px) {
        padding: .8rem 2rem .8rem 2rem;
        line-height: normal;
      }

      @media only screen and (max-width: 360px) {
        font-size: 14px;
        margin-left: 0;
        margin-right: 0;
      }

      @media only screen and (max-width: 310px) {
        padding: .8rem 0 .8rem;
      }

    }

  }

  &_center {

    margin-right: auto;
    margin-left: auto;

  }

}
