//White-color
$white-color-one: #fff;

//White-color
$white-color-rgba-one: rgba(255,255,255,.2);
$white-color-rgba-two: rgba(255,255,255,.95);
$white-color-rgba-three: rgba(250,250,250,.9);

//Black-color
$black-color-one: #000;
$black-color-two: #242424;
$black-color-three: #25262E;
$black-color-four: #404040;

//Black-color-rgba
$black-color-rgba-one: rgba(0,0,0,.3);
$black-color-rgba-two: rgba(0, 0, 0, .4);
$black-color-rgba-three: rgba(0, 0, 0, .5);
$black-color-rgba-four: rgba(0, 0, 0, .4);
$black-color-rgba-five: rgba(0, 0, 0, .25);
$black-color-rgba-six: rgba(37, 38, 46, .8);
$black-color-rgba-seven: rgba(0, 0, 0, .8);
$black-color-rgba-eight: rgba(0, 0, 0, .6);
$black-color-rgba-nine: rgba(0, 0, 0, .1);
$black-color-rgba-ten: rgba(36, 36, 36, .5);

//Grey-color
$grey-color-one: #C3C3C3;
$grey-color-two: #7D838A;
$grey-color-three: #EEEFF6;
$grey-color-four: #C4C4C4;
$grey-color-five: #F7F7F7;
$grey-color-six: #C7C7C7;

//Red-color
$red-color-one: #DE0000;

//Red-color-rgba
$red-color-rgba-one: rgba(222, 0, 0, .2);
$red-color-rgba-two: rgba(222, 0, 0, .5);
$red-rgba-three: rgba(222,0,0,.8);

//Red-rgba-color
$red-rgba-one: rgba(222,0,0,.1);

//Blue-color
$blue-color-one: #003399;
$blue-color-two: #106099;

//Gold-color
$gold-color-one: #C8AE5A;

//Gold-rgba-color
$gold-color-rgba-one: rgba(200,174,90,.5);

//Silver-rgba
$silver-color-rgba: linear-gradient(141.63deg, #C7C7C7 14.42%, #FFFFFF 48.09%, #C7C7C7 87.05%);;

