//Way-img
$way-img: "../img" !default;

//Way-fonts
$way-font-harmonia: "../fonts/harmonia" !default;
$roboto-font-path: "../fonts/roboto/" !default;
$arimo-font-path: "../fonts/arimo/" !default;

//Harmonia Font-family
$font-family-italic: 'HarmoniaSansProCyr-Italic', sans-serif;
$font-family-light: 'HarmoniaSansProCyr-Light', sans-serif;
$font-family-light-it: 'HarmoniaSansProCyr-LightIt', sans-serif;
$font-family-regular: 'HarmoniaSansProCyr-Regular', sans-serif;
$font-family-black: 'HarmoniaSansProCyr-Black', sans-serif;
$font-family-black-it: 'Harmonia Sans Pro Cyr', sans-serif;
$font-family-bold: 'HarmoniaSansProCyr-Bold', sans-serif;
$font-family-bold-it: 'HarmoniaSansProCyr-BoldIt', sans-serif;
$font-family-bold-cond: 'HarmoniaSansProCyr-BoldCond', sans-serif;
$font-family-semi-bd: 'HarmoniaSansProCyr-SemiBd', sans-serif;
$font-family-semi-bd-it: 'HarmoniaSansProCyr-SemiBdIt', sans-serif;
$font-family-semi-bd-cn: 'HarmoniaSansProCyr-SemiBdCn', sans-serif;
$font-family-semi-cond: 'HarmoniaSansProCyr-Cond', sans-serif;

//Verdana Font-family
$verdana-regular: 'Verdana', sans-serif;
$verdana-bold: 'Verdana-bold', sans-serif;

//Roboto Font-family
$roboto-family-thin: 'Roboto-Thin', sans-serif;
$roboto-family-light: 'Roboto-Light', sans-serif;
$roboto-family-regular: 'Roboto-Regular', sans-serif;
$roboto-family-medium: 'Roboto-Medium', sans-serif;
$roboto-family-bold: 'Roboto-Bold', sans-serif;

//Arimo Font-family
$arimo-family-italic: 'Arimo-Italic', sans-serif;
$arimo-family-regular: 'Arimo-Regular', sans-serif;
$arimo-family-bold: 'Arimo-Bold', sans-serif;
$arimo-family-bold-it: 'Arimo-BoldItalic', sans-serif;

//Arial Font-family
$arial-family-black: 'Arial Black', sans-serif;
