mixin use
  svg(width="11" height="13" viewbox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M10.4582 0.329498C10.26 0.117048 9.98665 0 9.68848 0H8.86903C8.26513 0 7.68876 0.483885 7.58438 1.0787L7.5327 1.37286C7.48075 1.66887 7.55066 1.94923 7.72962 2.16233C7.90857 2.37543 8.17259 2.49275 8.47314 2.49275H9.53166C9.67852 2.49275 9.82057 2.46342 9.95255 2.41136L9.84005 3.37247C9.73177 3.32696 9.61288 3.30272 9.48793 3.30272H8.28022C7.76284 3.30272 7.25466 3.71447 7.1473 4.22054L6.07953 9.25457L1.0416 8.89255C0.769353 8.87307 0.542075 8.96534 0.401163 9.14651C0.26918 9.31621 0.230597 9.54387 0.292449 9.7876L0.878175 12.0938C1.00507 12.5934 1.52776 13 2.04324 13H6.26676H6.33121H8.48109C9.00345 13 9.47332 12.5773 9.52841 12.0578L10.3548 4.26648C10.3595 4.22195 10.3601 4.17806 10.3586 4.13461L10.6414 1.71854C10.6814 1.61448 10.7067 1.50387 10.7147 1.38915L10.7334 1.12021C10.7542 0.822798 10.6564 0.542003 10.4582 0.329498Z" fill="#C8AE5A")

+use
