mixin use
  svg(width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M12.3478 2.9251H11.9167V2.2751H9.75V2.9251H8.88333V1.66973C8.88333 1.28666 8.57177 0.975098 8.1887 0.975098H4.8113C4.42823 0.975098 4.11667 1.28666 4.11667 1.66973V2.9251H3.25V2.2751H1.08333V2.9251H0.652167C0.292717 2.9251 0 3.21781 0 3.57726V11.3729C0 11.7324 0.292717 12.0251 0.652167 12.0251H1.73333H2.16667H10.8333H11.2667H11.4833H12.3478C12.7073 12.0251 13 11.7324 13 11.3729V3.57726C13 3.21781 12.7073 2.9251 12.3478 2.9251ZM4.55 1.66973C4.55 1.52565 4.66722 1.40843 4.8113 1.40843H8.1887C8.33278 1.40843 8.45 1.52565 8.45 1.66973V2.9251H4.55V1.66973ZM1.73333 11.5918V3.35843H2.16667V11.5918H1.73333ZM10.8333 11.5918V3.35843H11.2667V11.5918H10.8333Z" fill="#C8AE5A")

+use
