// Google Tag Manager
script.
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
          new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-52Q7XN4');
// End Google Tag Manager

// Global site tag (gtag.js) - Google Analytics
script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-49723611-5")
script.
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'UA-49723611-5');

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(http-equiv='x-ua-compatible', content='ie=edge')
title РусТрансфер | Аренда авто бизнес класса | Заказ вип автомобилей
link(rel="icon", href="/favicon.ico", type="image/x-icon")
link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
link(href='/assets/css/style.css?ver=1.0.0', rel='stylesheet')
script(src="//code.jivosite.com/widget.js" data-jv-id="u7zIPHQUXE" async="")

// Marquiz script start
script(src="//script.marquiz.ru/v1.js" type="application/javascript")
script.
  document.addEventListener("DOMContentLoaded", function() {
    Marquiz.init({
      id: '5e8cb3c4b8296c0044631e52',
      autoOpen: false,
      autoOpenFreq: 'once',
      openOnExit: false
    });
  });
// Marquiz script end



