mixin use
    svg.svg-account(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
        path#Vector(d='M18.8208 17.4307L13.8673 14.811L13.6385 14.0962C13.57 13.8567 13.4616 13.6173 13.2387 13.5543C13.1679 13.5344 13.0783 13.4051 13.0667 13.3148L12.9345 11.9248C12.9272 11.8058 12.975 11.699 13.0378 11.624C13.4173 11.1692 13.6242 10.6425 13.7117 10.0404C13.7557 9.73758 13.9132 9.45836 13.9942 9.16016L14.3118 7.49811C14.3449 7.27986 14.3385 7.11165 14.0946 7.02708C14.0273 7.00362 13.9687 6.89215 13.9687 6.72501L13.9719 3.58897C13.9201 2.82995 13.5182 2.24302 12.9482 1.83451C11.8594 1.05409 9.90959 1.41598 10.5459 0.142989C10.5835 0.0680661 10.5715 -0.0621047 10.3099 0.0341247C9.33385 0.39326 6.73392 1.34222 6.08078 1.83451C5.49623 2.27505 5.10898 2.82995 5.05709 3.58897L5.0603 6.72501C5.0603 6.86301 5.00179 7.00362 4.93442 7.02708C4.69044 7.1116 4.68406 7.27986 4.71721 7.49811L5.03489 9.16016C5.11565 9.45836 5.27328 9.73763 5.31734 10.0404C5.40475 10.6425 5.61176 11.1692 5.99118 11.624C6.05398 11.699 6.10176 11.8058 6.09449 11.9248L5.96227 13.3148C5.95066 13.4051 5.86091 13.5344 5.79023 13.5543C5.56723 13.6173 5.45879 13.8567 5.39035 14.0962L5.16148 14.811L0.207798 17.4307C0.0799582 17.4982 0 17.631 0 17.7755V19.6098C0 19.8253 0.174742 20 0.390233 20H18.6384C18.8539 20 19.0286 19.8253 19.0286 19.6098V17.7755C19.0286 17.631 18.9486 17.4982 18.8208 17.4307Z', fill='white')

+use






