mixin use
  svg.svg-balloon(width="10" height="12" viewbox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M4.9997 0C2.56392 0 0.582031 1.98189 0.582031 4.41792C0.582031 5.05333 0.712086 5.66001 0.968387 6.22124C2.07293 8.63824 4.19064 11.1901 4.81353 11.9145C4.86019 11.9687 4.92823 11.9999 4.99983 11.9999C5.07142 11.9999 5.13946 11.9687 5.18613 11.9145C5.80877 11.1902 7.92648 8.63848 9.03139 6.22124C9.28781 5.66001 9.41775 5.05333 9.41775 4.41792C9.4175 1.98189 7.43561 0 4.9997 0ZM4.9997 6.7126C3.73441 6.7126 2.7049 5.68309 2.7049 4.4178C2.7049 3.15238 3.73441 2.12287 4.9997 2.12287C6.265 2.12287 7.29451 3.15238 7.29451 4.4178C7.29463 5.68309 6.26512 6.7126 4.9997 6.7126Z" fill="#C8AE5A")

+use






