mixin use
    svg.svg-mail(width="17" height="12" viewbox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M8.39995 8.40025L6.32155 6.58105L0.37915 11.6751C0.59515 11.8755 0.88675 12.0003 1.20835 12.0003H15.5916C15.912 12.0003 16.2024 11.8755 16.4172 11.6751L10.4784 6.58105L8.39995 8.40025Z" fill="#C8AE5A")
        path(d="M16.4208 0.3252C16.2048 0.1236 15.9144 0 15.5916 0H1.20839C0.887992 0 0.597592 0.1248 0.381592 0.3276L8.39999 7.2L16.4208 0.3252Z" fill="#C8AE5A")
        path(d="M0 1.05371V11.0233L5.7996 6.09491L0 1.05371Z" fill="#C8AE5A")
        path(d="M11.0005 6.0946L16.8001 11.023V1.0498L11.0005 6.0946Z" fill="#C8AE5A")

+use






