mixin use
  svg.svg-phone(width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M2.4 5.2C3.33333 7.06667 4.93333 8.6 6.8 9.6L8.26667 8.13333C8.46664 7.93336 8.73333 7.86669 8.93333 8C9.66667 8.26667 10.4666 8.4 11.3333 8.4C11.7333 8.4 12 8.66667 12 9.06667V11.3333C12 11.7333 11.7333 12 11.3333 12C5.06667 12 0 6.93333 0 0.666667C0 0.266667 0.266667 0 0.666667 0H3C3.4 0 3.66667 0.266667 3.66667 0.666667C3.66667 1.46667 3.8 2.26667 4.06667 3.06667C4.13333 3.26667 4.06667 3.53333 3.93333 3.73333L2.4 5.2Z" fill="#C8AE5A")

+use






