.order-service {

  position: relative;
  width: 100%;
  margin-top: -8%;
  padding-bottom: 70px;

  @media only screen and (max-width: 1279.98px) {

    margin-top: -12%;
    padding-bottom: 10px;

  }

  @media only screen and (max-width: 1023.98px) {

    margin-top: -17%;

  }

  @media only screen and (max-width: 991.98px) {
    padding-bottom: 0;
  }

  &__pb-1 {

    padding-bottom: 1rem;

  }

  &__pb-2 {

    @media only screen and (max-width: 991.98px) {
      padding-bottom: 2rem;
    }

  }

  &__pb-3 {

    padding-bottom: 3rem;

  }

  &_mb-3 {

    @media only screen and (max-width: 1279.98px) {
      margin-bottom: 3rem;
    }

  }

  &_sm-3 {

    @media only screen and (max-width: 767.98px) {
      margin-bottom: 3rem;
    }

  }

  .col-lg-6 {

    @media only screen and (max-width: 1279.98px) and (min-width: 1200px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

  }


  &__wrapper {

    background: $white-color-one;
    box-shadow: 0 4px 4px $black-color-rgba-five;
    border-radius: 3px;
    padding: 42px 21px;
    height: 100%;
    width: 100%;
    justify-content: center;
    @include flex-wrap();
    text-align: center;

    @media only screen and (max-width: 1569.98px) {
      padding: 42px 17px;
    }

    @media only screen and (max-width: 991.98px) {
      text-align: left;
      padding: 28px 21px;
    }

    @media only screen and (max-width: 767.98px) {
      padding: 28px 30px;
    }

    @media only screen and (max-width: 371.98px) {
      text-align: center;
    }

    article {

      height: 100%;

      figure {

        @include flex-wrap;
        justify-content: center;
        height: 100%;
        margin-bottom: 0;
        align-content: stretch;
        align-items: stretch;

        @media only screen and (max-width: 991.98px) {

          display: flex;
          align-items: flex-start;
          flex-wrap: nowrap;

        }

        @media only screen and (max-width: 371.98px) {

          align-items: center;
          flex-wrap: wrap;

        }

        figcaption {

          width: 100%;

        }

        h3 {

          font-family: $arimo-family-bold;
          font-size: 20px;
          padding: 0 0 1rem;
          color: $black-color-two;

          @media only screen and (max-width: 991.98px) {
            padding: 0 0 1rem;
            font-size: 18px;
          }

          @media only screen and (max-width: 767.98px) {
            padding: 0 0 1rem;
            font-size: 20px;
          }

        }

        p {

          color: $grey-color-two;

          font-size: 16px;
          font-family: $arimo-family-regular;

          @media only screen and (max-width: 991.98px) {
            font-size: 14px;
            padding-bottom: 1rem;
          }

          @media only screen and (max-width: 767.98px) {
            font-size: 16px;
          }

        }

        svg {

          margin-top: auto;
          height: 45px;
          display: flex;

          @media only screen and (max-width: 991.98px) {
            margin-top: 0;
          }

        }

      }

    }

  }

  &__icon {

    height: 45px;
    margin-bottom: 20px;

    @media only screen and (max-width: 991.98px) {
      margin-right: 20px;
    }

    @media only screen and (max-width: 371.98px) {
      margin-bottom: 1rem;
    }

  }

  &__text {

    color: $grey-color-two;
    font-size: 16px;
    font-family: $arimo-family-regular;
    line-height: 1.7em;

    @media only screen and (max-width: 991.98px) {
      font-size: 14px;
      text-align: justify;
    }

    &_hidden {

      @media only screen and (max-width: 479.98px) {
        display: none;
      }

    }

    a {

      color: $gold-color-one;
      text-decoration: underline;
      font-family: $arimo-family-regular;
      font-size: 16px;

      @media only screen and (max-width: 991.98px) {
        font-size: 14px;
      }

      &:hover {

        text-decoration: none;

      }

    }

  }

  &__title {

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;
    height: 250px;

    @media only screen and (max-width: 1279.98px) {
      height: 160px;
    }

    @media only screen and (max-width: 991.98px) {
      height: 220px;
      justify-content: flex-start;
    }

    @media only screen and (max-width: 767.98px) {
      height: 180px;
    }

    @media only screen and (max-width: 479.98px) {
      height: auto;
      justify-content: flex-start;
    }

    @media only screen and (max-width: 479.98px) {
      height: auto;
      justify-content: flex-start;
    }

    @media only screen and (max-width: 371.98px) {
      height: auto;
      justify-content: center;
    }

    svg {

      position: absolute;
      bottom: 0;
      margin-bottom: 30px;

      @media only screen and (max-width: 479.98px) {
        position: relative;
        margin-bottom: 0;
      }

    }

  }

  .button__xl_gold {

    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: 767.98px) {
      max-width: 196px;
      font-size: 14px;
    }

    @media only screen and (max-width: 479.98px) {
      max-width: 70%;
      font-size: 18px;
    }

    @media only screen and (max-width: 400px) {
      max-width: 100%;
    }


    svg {

      @media only screen and (max-width: 767.98px) {
        width: 7px;
        height: 11px;
      }

      @media only screen and (max-width: 479.98px) {
        width: 9px;
        height: 15px;
      }

    }

  }


}
