mixin use
    svg(width="10" height="8" viewbox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M4.99987 5.42856L3.76273 4.3457L0.225586 7.37785C0.354157 7.49713 0.527729 7.57142 0.719157 7.57142H9.28059C9.4713 7.57142 9.64416 7.49713 9.77201 7.37785L6.23701 4.3457L4.99987 5.42856Z" fill="#7D838A")
        path(d="M9.77419 0.622282C9.64562 0.502282 9.47276 0.428711 9.28062 0.428711H0.719194C0.528479 0.428711 0.355622 0.502997 0.227051 0.623711L4.99991 4.71443L9.77419 0.622282Z" fill="#7D838A")
        path(d="M0 1.05566V6.98995L3.45214 4.05638L0 1.05566Z" fill="#7D838A")
        path(d="M6.54785 4.05657L9.99999 6.99014V1.05371L6.54785 4.05657Z" fill="#7D838A")

+use






