mixin use
    svg(width="65" height="19" viewbox="0 0 65 19" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M35.9468 2.50659L31.9107 11.2023H31.5003V0.61377H25.7656V18.5331H30.6333C31.9107 18.5331 33.0716 17.7947 33.6077 16.6403L37.645 7.94463H38.0544V18.5331H43.7889V0.61377H38.9225C37.6438 0.61377 36.4828 1.35226 35.9468 2.50659Z" fill="#7D838A")
        path(d="M14.4333 2.96884L12.0446 11.2031H11.6354L9.24657 2.96884C8.84131 1.57394 7.55733 0.613281 6.09827 0.613281H0.371582V18.5339H6.10475V7.94402H6.51529L9.79178 18.5339H13.888L17.1646 7.94402H17.5738V18.5339H23.3083V0.613281H17.5816C16.1225 0.613281 14.8387 1.57388 14.4333 2.96884H14.4333Z" fill="#7D838A")
        path(d="M46.2466 8.75928V18.534H51.9693V12.8322H58.1248C60.7985 12.8322 63.067 11.1304 63.9116 8.75928H46.2466Z" fill="#7D838A")
        path(d="M58.1248 0.61377H45.4268C46.1982 4.78418 49.8683 7.94463 54.2848 7.94463H64.1457C64.2254 7.54939 64.2686 7.14119 64.2686 6.72256C64.2686 3.34897 61.5177 0.61377 58.1249 0.61377H58.1248Z" fill="#4F5051")


+use






