mixin use
    svg(width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M2 4.33333C2.77778 5.88889 4.11111 7.16667 5.66667 8L6.88889 6.77778C7.05553 6.61113 7.27778 6.55558 7.44444 6.66667C8.05556 6.88889 8.7222 7 9.44444 7C9.77778 7 10 7.22222 10 7.55556V9.44444C10 9.77778 9.77778 10 9.44444 10C4.22222 10 0 5.77778 0 0.555556C0 0.222222 0.222222 0 0.555556 0H2.5C2.83333 0 3.05556 0.222222 3.05556 0.555556C3.05556 1.22222 3.16667 1.88889 3.38889 2.55556C3.44444 2.72222 3.38889 2.94444 3.27778 3.11111L2 4.33333Z" fill="#7D838A")

+use






