mixin use
    svg(width="64" height="20" viewbox="0 0 64 20" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M18.0119 0.497667L12.9169 13.5147L12.3737 11.5492C11.3689 9.18103 8.5164 5.77993 5.16748 3.63652L9.82626 19.5542L15.3306 19.5449L23.523 0.493652L18.0119 0.497667Z" fill="#7D838A")
        path(d="M10.3986 1.86368C10.0962 0.700997 9.21989 0.354465 8.13212 0.312988H0.066898L0 0.69297C6.27637 2.21557 10.4294 5.88426 12.1527 10.2955L10.3986 1.86368Z" fill="#4F5051")
        path(d="M25.6261 0.476562L22.3735 19.5639H27.5755L30.8308 0.476562H25.6261Z" fill="#7D838A")
        path(d="M41.3737 4.13556C43.0756 4.1088 44.3092 4.48075 45.2672 4.86609L45.7368 5.08685L46.4406 0.949875C45.4103 0.563204 43.7954 0.148438 41.7804 0.148438C36.64 0.148438 33.0168 2.73739 32.9887 6.44755C32.9552 9.18903 35.5696 10.7197 37.5445 11.6335C39.5715 12.5701 40.2511 13.1655 40.2418 14.0017C40.2257 15.2794 38.6255 15.8655 37.131 15.8655C35.0478 15.8655 33.9413 15.5778 32.2327 14.866L31.5624 14.5609L30.8306 18.8331C32.0481 19.3669 34.2945 19.8258 36.6266 19.8499C42.0949 19.8499 45.6485 17.2917 45.6859 13.3273C45.7087 11.1585 44.3212 9.50346 41.3148 8.14543C39.4952 7.2597 38.382 6.67099 38.3927 5.77724C38.3927 4.98383 39.3373 4.13556 41.3737 4.13556Z" fill="#7D838A")
        path(d="M59.791 0.497559H55.7717C54.5234 0.497559 53.5949 0.837401 53.0463 2.0817L45.3223 19.5742H50.7852C50.7852 19.5742 51.6762 17.2221 51.8783 16.707C52.4763 16.707 57.784 16.715 58.54 16.715C58.6952 17.3813 59.1742 19.5742 59.1742 19.5742H64.0002L59.791 0.497559ZM53.3755 12.8001C53.8036 11.7043 55.448 7.46566 55.448 7.46566C55.4199 7.51784 55.8721 6.36184 56.141 5.64335L56.4916 7.28905C56.4916 7.28905 57.4883 11.8461 57.6971 12.8001H53.3755Z" fill="#7D838A")


+use






