mixin use
  svg(width="43" height="48" viewbox="0 0 43 48" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M1.7903 4.95464H24.5322V10.2611C24.5322 10.6805 24.8709 11.0192 25.2903 11.0192H30.5967V17.0837H32.1129V10.2611C32.1129 10.0512 32.0274 9.8617 31.89 9.72437L25.8277 3.66208C25.6897 3.52401 25.5002 3.43851 25.2903 3.43851H4.82256V1.92238H33.629V18.5998H35.1451V1.16431C35.1451 0.744936 34.8064 0.40625 34.3871 0.40625H4.06449C3.64511 0.40625 3.30643 0.744936 3.30643 1.16431V3.43851H1.03223C0.612856 3.43851 0.27417 3.77719 0.27417 4.19657V46.6482C0.27417 47.0676 0.612856 47.4062 1.03223 47.4062H26.8064V45.8901H1.7903V4.95464ZM26.0484 6.02659L29.5248 9.50302H26.0484V6.02659Z" fill="#C8AE5A")
    path(d="M41.9678 23.1482H40.8262C37.4412 23.1482 34.2576 21.6573 32.0911 19.0577L31.9378 18.8734C31.6506 18.5269 31.0598 18.5269 30.7726 18.8734L30.6194 19.057C28.4522 21.6573 25.2685 23.1482 21.8835 23.1482H20.742C20.3226 23.1482 19.9839 23.4869 19.9839 23.9063V36.1837C19.9839 39.169 21.594 41.9436 24.1858 43.4242L30.9788 47.3063C31.095 47.373 31.2253 47.4063 31.3549 47.4063C31.4844 47.4063 31.6147 47.373 31.7309 47.3063L38.5239 43.4242C41.1157 41.9436 42.7258 39.169 42.7258 36.1837V23.9063C42.7258 23.4869 42.3871 23.1482 41.9678 23.1482ZM41.2097 36.1837C41.2097 38.6264 39.8931 40.8961 37.7718 42.1072L31.3549 45.7758L24.938 42.1083C22.8166 40.8961 21.5 38.6264 21.5 36.1837V24.6643H21.8835C25.501 24.6643 28.9171 23.1612 31.3549 20.5168C33.7919 23.1612 37.2088 24.6643 40.8262 24.6643H41.2097V36.1837Z" fill="#C8AE5A")
    path(d="M31.3548 25.4224C26.7572 25.4224 23.0161 29.1635 23.0161 33.7611C23.0161 38.3587 26.7572 42.0998 31.3548 42.0998C35.9525 42.0998 39.6935 38.3587 39.6935 33.7611C39.6935 29.1635 35.9525 25.4224 31.3548 25.4224ZM31.3548 40.5837C27.5926 40.5837 24.5322 37.5233 24.5322 33.7611C24.5322 29.9989 27.5926 26.9385 31.3548 26.9385C35.117 26.9385 38.1774 29.9989 38.1774 33.7611C38.1774 37.5233 35.117 40.5837 31.3548 40.5837Z" fill="#C8AE5A")
    path(d="M30.9932 36.1179L29.6166 34.7413L28.5447 35.8132L30.8189 38.0874C30.9621 38.2314 31.1561 38.3095 31.3549 38.3095C31.4163 38.3095 31.4785 38.3021 31.5399 38.2869C31.799 38.2214 32.0037 38.0245 32.0811 37.7691L34.3553 30.1885L32.9028 29.7532L30.9932 36.1179Z" fill="#C8AE5A")
    path(d="M3.3064 12.5354H23.0161V14.0515H3.3064V12.5354Z" fill="#C8AE5A")
    path(d="M3.3064 15.5676H23.0161V17.0838H3.3064V15.5676Z" fill="#C8AE5A")
    path(d="M3.3064 18.5999H23.0161V20.116H3.3064V18.5999Z" fill="#C8AE5A")
    path(d="M3.3064 21.6321H18.4677V23.1482H3.3064V21.6321Z" fill="#C8AE5A")
    path(d="M3.3064 24.6643H18.4677V26.1804H3.3064V24.6643Z" fill="#C8AE5A")
    path(d="M3.3064 27.6965H18.4677V29.2127H3.3064V27.6965Z" fill="#C8AE5A")
    path(d="M3.3064 36.7935H18.4677V38.3096H3.3064V36.7935Z" fill="#C8AE5A")
    path(d="M3.3064 39.8257H18.4677V41.3418H3.3064V39.8257Z" fill="#C8AE5A")
    path(d="M3.3064 42.8579H18.4677V44.374H3.3064V42.8579Z" fill="#C8AE5A")
    path(d="M4.06445 6.4707H5.58058V7.98683H4.06445V6.4707Z" fill="#C8AE5A")
    path(d="M7.09668 6.4707H8.61281V7.98683H7.09668V6.4707Z" fill="#C8AE5A")
    path(d="M10.1292 6.4707H11.6453V7.98683H10.1292V6.4707Z" fill="#C8AE5A")
    path(d="M13.1614 6.4707H23.0162V7.98683H13.1614V6.4707Z" fill="#C8AE5A")
+use
