.auto-class__parent-block
  .row.justify-content-between
    .col-sm-12.col-md-6.col-lg-3.auto-class__mb-3
      .auto-class__block.wow.fadeInLeft(data-wow-delay='1.2s' data-wow-duration='0.4s')
        article
          figure
            figcaption.auto-class__car-title
              h3 Представительский
              .auto-class__car
                img(src='../assets/img/auto-class/rSsLEZpAK9.png' title='')
              .auto-class__car_specifications.auto-class__d-xl-none
                div
                  .auto-class__car_black(data-toggle="tooltip" data-placement="top" title="Черный")
                  .auto-class__car_white(data-toggle="tooltip" data-placement="top" title="Белый")
                  .auto-class__car_grey(data-toggle="tooltip" data-placement="top" title="Серый")
                  .auto-class__car_silver(data-toggle="tooltip" data-placement="top" title="Серебристый")
                div
                  span.auto-class__car_places
                    include ../../../templates/mixins/auto-class/places
                    | 3
                  span.auto-class__car_suitcase
                    include ../../../templates/mixins/auto-class/suitcase
                    | 3
                  span.auto-class__car_bottle
                    include ../../../templates/mixins/auto-class/bottle
                    | 3
            figcaption.auto-class__model-car
              p
                span Mercedes-Maybach,&nbsp;
                br
                span Mercedes Benz S-222,&nbsp;
                br
                span Mercedes Benz S-221,&nbsp;
                br
                span Audi A8, BMW 7,&nbsp;
                br
                span Genesis Sedan
              .auto-class__car_specifications.auto-class__d-md-none
                div
                  .auto-class__car_black(data-toggle="tooltip" data-placement="top" title="Черный")
                  .auto-class__car_white(data-toggle="tooltip" data-placement="top" title="Белый")
                  .auto-class__car_grey(data-toggle="tooltip" data-placement="top" title="Серый")
                  .auto-class__car_silver(data-toggle="tooltip" data-placement="top" title="Серебристый")
                div
                  span.auto-class__car_places
                    include ../../../templates/mixins/auto-class/places
                    | 3
                  span.auto-class__car_suitcase
                    include ../../../templates/mixins/auto-class/suitcase
                    | 3
                  span.auto-class__car_bottle
                    include ../../../templates/mixins/auto-class/bottle
                    | 3

              a.button.button__sm_gold(onclick="Marquiz.showModal('5e8cb3c4b8296c0044631e52')" title='')
                | Выбрать
                include ../../../templates/mixins/svg-icon/arrow

    .col-sm-12.col-md-6.col-lg-3.auto-class__mb-3
      .auto-class__block.wow.fadeInLeft(data-wow-delay='0.9s' data-wow-duration='0.4s')
        article
          figure
            figcaption.auto-class__car-title
              h3 Бизнес +
              .auto-class__car
                img(src='../assets/img/auto-class/rSsLEZpAK9e.png' title='')
              .auto-class__car_specifications.auto-class__d-xl-none
                div
                  .auto-class__car_black(data-toggle="tooltip" data-placement="top" title="Черный")
                  .auto-class__car_white(data-toggle="tooltip" data-placement="top" title="Белый")
                  .auto-class__car_grey(data-toggle="tooltip" data-placement="top" title="Серый")
                  .auto-class__car_silver(data-toggle="tooltip" data-placement="top" title="Серебристый")
                div
                  span.auto-class__car_places
                    include ../../../templates/mixins/auto-class/places
                    | 3
                  span.auto-class__car_suitcase
                    include ../../../templates/mixins/auto-class/suitcase
                    | 3
                  span.auto-class__car_bottle
                    include ../../../templates/mixins/auto-class/bottle
                    | 3
            figcaption.auto-class__model-car
              p
                span Mercedes Benz E-213,&nbsp;
                br
                span Mercedes Benz E-212,&nbsp;
                br
                span Audi A6, BMW 5,&nbsp;
                br
                span Lexus LS 500
              .auto-class__car_specifications.auto-class__d-md-none
                div
                  .auto-class__car_black(data-toggle="tooltip" data-placement="top" title="Черный")
                  .auto-class__car_white(data-toggle="tooltip" data-placement="top" title="Белый")
                  .auto-class__car_grey(data-toggle="tooltip" data-placement="top" title="Серый")
                  .auto-class__car_silver(data-toggle="tooltip" data-placement="top" title="Серебристый")
                div
                  span.auto-class__car_places
                    include ../../../templates/mixins/auto-class/places
                    | 3
                  span.auto-class__car_suitcase
                    include ../../../templates/mixins/auto-class/suitcase
                    | 3
                  span.auto-class__car_bottle
                    include ../../../templates/mixins/auto-class/bottle
                    | 3
              a.button.button__sm_gold(onclick="Marquiz.showModal('5e8cb3c4b8296c0044631e52')" title='')
                | Выбрать
                include ../../../templates/mixins/svg-icon/arrow

    .col-sm-12.col-md-6.col-lg-3.auto-class__mb-3
      .auto-class__block.wow.fadeInRight(data-wow-delay='1.1s' data-wow-duration='0.4s')
        article
          figure
            figcaption.auto-class__car-title
              h3 Бизнес
              .auto-class__car
                img(src='../assets/img/auto-class/2019-Toyota-Camry-XLE-V6.png' title='')
              .auto-class__car_specifications.auto-class__d-xl-none
                div
                  .auto-class__car_black(data-toggle="tooltip" data-placement="top" title="Черный")
                  .auto-class__car_white(data-toggle="tooltip" data-placement="top" title="Белый")
                  .auto-class__car_grey(data-toggle="tooltip" data-placement="top" title="Серый")
                  .auto-class__car_silver(data-toggle="tooltip" data-placement="top" title="Серебристый")
                div
                  span.auto-class__car_places
                    include ../../../templates/mixins/auto-class/places
                    | 3
                  span.auto-class__car_suitcase
                    include ../../../templates/mixins/auto-class/suitcase
                    | 3
                  span.auto-class__car_bottle
                    include ../../../templates/mixins/auto-class/bottle
                    | 3
            figcaption.auto-class__model-car
              p
                span Toyota Camry,&nbsp;
                br
                span Lexus ES 250,&nbsp;
                br
                span Lexus ES 350,&nbsp;
                br
                span Skoda Superb,&nbsp;
                br
                span Volkswagen Passat
              .auto-class__car_specifications.auto-class__d-md-none
                div
                  .auto-class__car_black(data-toggle="tooltip" data-placement="top" title="Черный")
                  .auto-class__car_white(data-toggle="tooltip" data-placement="top" title="Белый")
                  .auto-class__car_grey(data-toggle="tooltip" data-placement="top" title="Серый")
                  .auto-class__car_silver(data-toggle="tooltip" data-placement="top" title="Серебристый")
                div
                  span.auto-class__car_places
                    include ../../../templates/mixins/auto-class/places
                    | 4
                  span.auto-class__car_suitcase
                    include ../../../templates/mixins/auto-class/suitcase
                    | 3
                  span.auto-class__car_bottle
                    include ../../../templates/mixins/auto-class/bottle
                    | 4
              a.button.button__sm_gold(onclick="Marquiz.showModal('5e8cb3c4b8296c0044631e52')" title='')
                | Выбрать
                include ../../../templates/mixins/svg-icon/arrow

    .col-sm-12.col-md-6.col-lg-3.auto-class__mb-3
      .auto-class__block.wow.fadeInRight(data-wow-delay='1.3s' data-wow-duration='0.4s')
        article
          figure
            figcaption.auto-class__car-title
              h3 Минивэн Люкс
              .auto-class__car
                img(src='../assets/img/auto-class/rSsLEZpAK9ew.png' title='')
              .auto-class__car_specifications.auto-class__d-xl-none
                div
                  .auto-class__car_black(data-toggle="tooltip" data-placement="top" title="Черный")
                  .auto-class__car_white(data-toggle="tooltip" data-placement="top" title="Белый")
                  .auto-class__car_grey(data-toggle="tooltip" data-placement="top" title="Серый")
                  .auto-class__car_silver(data-toggle="tooltip" data-placement="top" title="Серебристый")
                div
                  span.auto-class__car_places
                    include ../../../templates/mixins/auto-class/places
                    | 3
                  span.auto-class__car_suitcase
                    include ../../../templates/mixins/auto-class/suitcase
                    | 3
                  span.auto-class__car_bottle
                    include ../../../templates/mixins/auto-class/bottle
                    | 3
            figcaption.auto-class__model-car
              p
                span Toyota Alphard,&nbsp;
                br
                span Hyundai H-1,&nbsp;
                br
                span Mercedes Benz V-class,&nbsp;
                br
                span Volkswagen Multivan,&nbsp;
                br
                span Chevrolet Express
              .auto-class__car_specifications.auto-class__d-md-none
                div
                  .auto-class__car_black(data-toggle="tooltip" data-placement="top" title="Черный")
                  .auto-class__car_white(data-toggle="tooltip" data-placement="top" title="Белый")
                  .auto-class__car_grey(data-toggle="tooltip" data-placement="top" title="Серый")
                  .auto-class__car_silver(data-toggle="tooltip" data-placement="top" title="Серебристый")
                div
                  span.auto-class__car_places
                    include ../../../templates/mixins/auto-class/places
                    | 6-8
                  span.auto-class__car_suitcase
                    include ../../../templates/mixins/auto-class/suitcase
                    | 5
                  span.auto-class__car_bottle
                    include ../../../templates/mixins/auto-class/bottle
                    | 8
              a.button.button__sm_gold(onclick="Marquiz.showModal('5e8cb3c4b8296c0044631e52')" title='')
                | Выбрать
                include ../../../templates/mixins/svg-icon/arrow
