mixin use
  svg.svg-arrow-down(width="12" height="58" viewbox="0 0 12 58" fill="none" xmlns="http://www.w3.org/2000/svg")
    path#Vector(d="M11.0808 51.9638C11.3064 51.7458 11.3064 51.383 11.0808 51.1574C10.8628 50.9394 10.5 50.9394 10.2826 51.1574L6.19392 55.2461L6.36312 1.50004C6.36261 1.18553 6.11262 0.935547 5.79811 0.935547C5.4836 0.935547 5.22548 1.18553 5.22548 1.50004L5.05629 55.2461L0.975246 51.1574C0.749651 50.9394 0.386361 50.9394 0.168896 51.1574C-0.0566998 51.383 -0.0566998 51.7463 0.168896 51.9638L5.22548 57.0203C5.44346 57.2459 5.80624 57.2459 6.02371 57.0203L11.0808 51.9638Z" fill="white")

+use
