mixin use
  svg.svg-arrow-down-right(width="18" height="96" viewbox="0 0 18 96" fill="none" xmlns="http://www.w3.org/2000/svg")
    g#Group
      line(id="Line 3" x1="17" y1="91.5" x2="1" y2="91.5" stroke="white")
      line(id="Line 4" x1="0.5" y1="92" x2="0.5" stroke="white")
      path#Vector(d="M13.4274 87.1354C13.2367 86.9549 12.9193 86.9549 12.7219 87.1354C12.5312 87.3097 12.5312 87.5999 12.7219 87.7739L16.2995 91.0448H4.49393C4.21874 91.0452 4 91.2451 4 91.4967C4 91.7484 4.21874 91.9548 4.49393 91.9548H16.2995L12.7219 95.2196C12.5312 95.4001 12.5312 95.6907 12.7219 95.8646C12.9193 96.0451 13.2372 96.0451 13.4274 95.8646L17.852 91.8195C18.0493 91.6451 18.0493 91.3549 17.852 91.1809L13.4274 87.1354Z" fill="white")

+use
