mixin use
  svg.arrow-down(width="22" height="14" viewbox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M22 2.78346L19.4333 0.216797L11 8.65012L2.56667 0.216797L-1.90735e-06 2.78346L11 13.7835L22 2.78346Z" fill="#C8AE5A")

+use
