mixin use
  svg(width="51" height="51" viewbox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M21.7877 32.3942L20.7271 33.4548L21.7877 34.5155L22.8484 33.4548L21.7877 32.3942Z" fill="#C8AE5A")
    path(d="M23.909 34.5155L22.8484 35.5762L23.909 36.6368L24.9697 35.5762L23.909 34.5155Z" fill="#C8AE5A")
    path(d="M26.0304 36.6369L24.9697 37.6975L26.0304 38.7582L27.091 37.6975L26.0304 36.6369Z" fill="#C8AE5A")
    path(d="M19.6664 30.2731L18.6057 31.3337L19.6664 32.3944L20.727 31.3337L19.6664 30.2731Z" fill="#C8AE5A")
    path(d="M17.545 28.1517L16.4844 29.2124L17.545 30.2731L18.6057 29.2124L17.545 28.1517Z" fill="#C8AE5A")
    path(d="M15.4237 26.0304L14.363 27.0911L15.4237 28.1517L16.4844 27.0911L15.4237 26.0304Z" fill="#C8AE5A")
    path(d="M13.3024 23.9091L12.2417 24.9697L13.3024 26.0304L14.363 24.9697L13.3024 23.9091Z" fill="#C8AE5A")
    path(d="M5.8778 31.3336L4.81714 32.3943L5.8778 33.4549L6.93846 32.3943L5.8778 31.3336Z" fill="#C8AE5A")
    path(d="M32.3942 4.81703L31.3335 5.87769L32.3942 6.93835L33.4548 5.87769L32.3942 4.81703Z" fill="#C8AE5A")
    path(d="M45.1222 17.5451L44.0615 18.6057L45.1222 19.6664L46.1828 18.6057L45.1222 17.5451Z" fill="#C8AE5A")
    path(d="M18.6056 44.0617L17.5449 45.1223L18.6056 46.183L19.6662 45.1223L18.6056 44.0617Z" fill="#C8AE5A")
    path(d="M38.2279 7.46877C38.5208 7.1759 38.5208 6.70099 38.2279 6.40811L32.9246 1.10481C32.6317 0.811938 32.1568 0.811937 31.8639 1.10481L1.10479 31.864C0.811918 32.1568 0.811918 32.6317 1.10479 32.9246L6.40809 38.2279C6.70097 38.5208 7.17588 38.5208 7.46875 38.2279C8.93319 36.7635 11.3076 36.7635 12.7721 38.2279C14.2365 39.6924 14.2365 42.0668 12.7721 43.5312C12.4792 43.8241 12.4792 44.299 12.7721 44.5919L18.0754 49.8952C18.3682 50.1881 18.8431 50.1881 19.136 49.8952L49.8952 19.136C50.188 18.8432 50.188 18.3683 49.8952 18.0754L44.5919 12.7721C44.299 12.4792 43.8241 12.4792 43.5312 12.7721C42.0668 14.2365 39.6923 14.2365 38.2279 12.7721C36.7635 11.3076 36.7635 8.93321 38.2279 7.46877ZM37.7294 14.3254C39.595 15.7227 42.1584 15.7226 44.0239 14.3254L48.3042 18.6057L18.6057 48.3042L14.3254 44.0239C16.0635 41.7032 15.5914 38.4128 13.2706 36.6746C11.4051 35.2774 8.84165 35.2773 6.97608 36.6746L2.69578 32.3943L32.3943 2.6958L36.6746 6.9761C34.9364 9.29682 35.4086 12.5872 37.7294 14.3254Z" fill="#C8AE5A")
    path(d="M20.1968 20.1968C19.0252 21.3684 19.0252 23.2679 20.1968 24.4394C21.3683 25.611 23.2678 25.611 24.4394 24.4394C25.611 23.2679 25.611 21.3684 24.4394 20.1968C23.2678 19.0252 21.3683 19.0252 20.1968 20.1968ZM23.3787 23.3788C22.7929 23.9646 21.8432 23.9646 21.2574 23.3788C20.6716 22.793 20.6716 21.8433 21.2574 21.2575C21.8432 20.6716 22.7929 20.6716 23.3787 21.2575C23.9646 21.8433 23.9646 22.793 23.3787 23.3788Z" fill="#C8AE5A")
    path(d="M32.9245 20.1968C31.753 21.3684 31.753 23.2679 32.9245 24.4394C34.0961 25.611 35.9956 25.611 37.1672 24.4394C38.3387 23.2679 38.3387 21.3684 37.1672 20.1968C35.9956 19.0252 34.0961 19.0252 32.9245 20.1968ZM36.1065 23.3788C35.5207 23.9646 34.571 23.9646 33.9852 23.3788C33.3994 22.793 33.3994 21.8433 33.9852 21.2575C34.571 20.6716 35.5207 20.6716 36.1065 21.2575C36.6923 21.8433 36.6923 22.793 36.1065 23.3788Z" fill="#C8AE5A")
    path(d="M27.9307 13.8318V30.802H29.4307V13.8318H27.9307Z" fill="#C8AE5A")

+use
