mixin use
  svg(width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M68.2828 11.7172C60.7239 4.15825 50.6902 0 40 0C29.3098 0 19.2761 4.15825 11.7172 11.7172C4.15825 19.2761 0 29.3098 0 40C0 50.6902 4.15825 60.7239 11.7172 68.2828C19.2761 75.8418 29.3098 80 40 80C50.6902 80 60.7239 75.8418 68.2828 68.2828C75.8418 60.7239 80 50.6902 80 40C80 29.3098 75.8418 19.2761 68.2828 11.7172ZM65.0673 65.0673C58.367 71.7677 49.4613 75.4545 40 75.4545C30.5387 75.4545 21.633 71.7677 14.9327 65.0673C1.11111 51.2458 1.11111 28.7542 14.9327 14.9327C21.633 8.23232 30.5387 4.54545 40 4.54545C49.4613 4.54545 58.367 8.23232 65.0673 14.9327C78.8889 28.7542 78.8889 51.2458 65.0673 65.0673Z" fill="#DCDCDC")
    path(d="M57.6263 22.3738C56.734 21.4815 55.3031 21.4815 54.4108 22.3738L40 36.7846L25.5893 22.3738C24.697 21.4815 23.266 21.4815 22.3738 22.3738C21.4815 23.266 21.4815 24.697 22.3738 25.5893L36.7846 40L22.3738 54.4108C21.4815 55.3031 21.4815 56.7341 22.3738 57.6263C22.8115 58.064 23.4007 58.2997 23.9731 58.2997C24.5455 58.2997 25.1347 58.0809 25.5724 57.6263L39.9832 43.2155L54.394 57.6263C54.8317 58.064 55.4209 58.2997 55.9933 58.2997C56.5825 58.2997 57.1549 58.0809 57.5926 57.6263C58.4849 56.7341 58.4849 55.3031 57.5926 54.4108L43.2155 40L57.6263 25.5893C58.5185 24.697 58.5185 23.266 57.6263 22.3738Z" fill="#ED1C24")

+use
