mixin events-service-owl-carousel
  .container.container__setting_xl.container__setting_fluid
    .row.justify-content-center
      .col-md-12.col-lg-10.events-service__padding-none
        .owl-carousel.owl-theme.events-service__owl-carousel.wow.fadeIn(role="slider", data-wow-delay='1.2s', data-wow-duration='0.4s')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-1.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-2.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-3.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-4.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-5.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-6.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-7.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-8.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-9.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-10.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-11.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-12.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/image-13.jpg', alt='', role='img')
          .item
            img(src='../assets/img/events-service/owl-carousel/rif-2020-logo.jpg', alt='', role='img')
